<!DOCTYPE html>
<html>
<head>
    <title>{{ table_name }}</title>
</head>
<body>
    <h1>{{ table_name }}</h1>
    <table>
        <thead>
            <tr>
                {% for column_name in column_names %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

